
{% extends 'base_admin.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}
    <h1 style="color:royalblue;">Membre : {{ membre.nom }} {{ membre.prenom }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th><img src="{{ asset('images/membre/'~membre.image~'') }}" width="150px" height="150px"></td></th>
        </tr>
            <tr>
                <th>Id</h4></th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Date de Naissance</th>
                <td>{{ membre.dateNaissance ? membre.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ membre.genre }}</td>
            </tr>
            <tr>
                <th>Numero Telephone</th>
                <td>{{ membre.numeroTel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>

            <tr>
                <th>Role</th>
                <td>{{ membre.role }}</td>
            </tr>
            {% if membre.role == 'Coach' %}
            <tr>
                <th>Description</th>
                <td>{{ membre.description }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Active</th>
                <td>{{ membre.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ban Duration</th>
                <td>{{ membre.banDuration }}</td>
            </tr>
            <tr>
                <th>Last Time ban</th>
                <td>{{ membre.lastTimeban ? membre.lastTimeban|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('membre_index') }}">
        <button class="btn btn-block bg-gradient-primary">Retour </button></a>
 {% if membre.role=='Coach' and membre.active==0 and membre.banDuration==0 %}
    <form method="post" action="{{ path('membre_delete', {'id': membre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre.id) }}">
        <button class="btn btn-block bg-gradient-danger">Supprimer</button>
    </form>
{% endif %}
{% endblock %}




