{% extends 'base_clientSide.html.twig' %}

{% block title %}Reactionev index{% endblock %}

{% block body %}
    <h1>Reactionev index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Interaction</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reactionev in reactionevs %}
            <tr>
                <td>{{ reactionev.id }}</td>
                <td>{{ reactionev.interaction }}</td>
                <td>{{ reactionev.commentaire }}</td>
                <td>
                    <a href="{{ path('reactionev_show', {'id': reactionev.id}) }}">show</a>
                    <a href="{{ path('reactionev_edit', {'id': reactionev.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reactionev_new') }}">Create new</a>
{% endblock %}
