{% extends 'base_admin.html.twig' %}


{% block title %}Produit index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
{% endblock %}

{% block body %}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste Produits</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                     <div class="form-row align-items-end" >

       <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">

                                    <div class="dt-buttons btn-group flex-wrap">
                                        <a href="{{ path('produit_new') }}"><button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>create</span></button></a>
                               </div> </div></div></div></div><div class="row"><div class="col-sm-12"><table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">


                    <!-- /.card-body -->
<a href="{{ path('produit_list') }}"><button  type="button" class="btn btn-outline-info"> Imprimer</button></a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">idprod</th>
      <th scope="col">image</th>
      <th scope="col">Libelle</th>
      <th scope="col">prix</th>
      <th scope="col">Description</th>
      <th scope="col">categorie </th>

      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
    {% for produit in produitsorted %}
                                            <tr>
                                                <td>{{ produit.idprod }}</td>

                                                <td> <img src="{{ asset('images/produits/'~produit.image~'') }}" width="40px" height="40px">      </td>
                                                <td>{{ produit.libelle }}</td>
                                                <td>{{ produit.prix }}</td>
                                                <td>{{ produit.description }}</td>
                                                <td>{{ produit.idcat.nomcategorie }}</td>
                                                <td>
                                                    <a href="{{ path('produit_show', {'idprod': produit.idprod}) }}"><button type="button" class="btn btn-outline-info">afficher</button></a>
                                                    <a href="{{ path('produit_edit', {'idprod': produit.idprod}) }}"><button type="button" class="btn btn-outline-warning">modifier</button></a>

                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">no records found</td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>
                                     </div>


{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{asset('assets/plugins/jszip/jszip.min.js')}}"></script>
<script src="{{asset('assets/plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{asset('assets/plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<script src="{{asset('assets/dist/js/adminlte.min.js')}}"></script>

<script src="{{asset('assets/dist/js/demo.js')}}"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}