{% extends 'base_coach.html.twig' %}

{% block title %}Cour index{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
 {% endblock %}


{% block body %}
    <!-- Main content -->


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" >
                            {% for message in app.flashes('info') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                            {% endfor %}
                            <h3 class="card-title">Cours</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">

                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Tags</th>
                                    <th>Nb participant</th>
                                    <th>Date creation</th>
                                    <th>Imagecours</th>
                                    <th>Lienyoutube</th>
                                    <th>Categorie</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cour in cours %}
                                    <tr>


                                        <td>{{cour.nomcours }}</td>
                                        <td>{{ cour.description }}</td>
                                        <td>{{ cour.tags }}</td>
                                        <td>{{ cour.nbParticipant }}</td>
                                        <td>{{ cour.dateCreation ? cour.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                                        <td><img src="{{ asset('/images/cours/' ~ cour.imagecours) }}" width="40px" height="40px"></td>
                                        <td>{{ cour.lienyoutube }}</td>
                                        <td>{{ cour.categorie.nomcategorie }}</td>
                                        <td>
                                            <a class="btn btn-app" href="{{ path('cour_show_admin', {'id': cour.id}) }}">
                                                <i class="fas fa-eye"></i> Show
                                            </a>
                                            <a class="btn btn-app" href="{{ path('cour_edit_admin', {'id': cour.id}) }}">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>


                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Tags</th>
                                    <th>Nb participant</th>
                                    <th>Date creation</th>
                                    <th>Imagecours</th>
                                    <th>Lienyoutube</th>
                                    <th>Categorie</th>
                                    <th>actions</th>
                                </tr>
                                </tfoot>
                            </table>

                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7">
                                   <!-- <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate" >
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="example1_previous">
                                                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                            </li>
                                            <li class="paginate_button page-item next" id="example1_next">
                                                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <div align="center">{{ knp_pagination_render(cours) }}</div>
                        </div>

                        <button type="button" class="btn btn-outline-primary btn-block">
                            <i class="fa fa-user-circle-o"></i> <a href="{{ path('participantcours_index') }}">Liste Participants</a>
                        </button>


                        <button type="button" class="btn btn-outline-primary btn-block">
                            <i class="fa fa-plus"></i> <a href="{{ path('cour_new_admin') }}">Ajouter un cours</a>
                        </button>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>

    </section>




{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/jszip/jszip.min.js')}}"></script>
    <script src="{{asset('assets/plugins/pdfmake/pdfmake.min.js')}}"></script>
    <script src="{{asset('assets/plugins/pdfmake/vfs_fonts.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

    <script src="{{asset('assets/dist/js/adminlte.min.js')}}"></script>

    <script src="{{asset('assets/dist/js/demo.js')}}"></script>

    <script>
        $(function () {
            $("#example1_paginate").hide();
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}