
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
   
    <a href="{{ path('admin_home') }}" class="brand-link">
      <img src="{{asset('assets/dist/img/logo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Admin Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ asset('images/membre/'~app.user.image~'') }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ app.user.nom}} {{ app.user.prenom }}</a>
        </div>
      </div>
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">
            <a href="{{path('adminJeux')}}" class="nav-link">
              <i class="fas fa-gamepad"></i>
              <p>
                Jeux
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('membre_index') }}" class="nav-link">
              <i class="fas fa-user"></i>
              <p>
                Membres</p></a></li>

          
          <li class="nav-item">
            <a href="{{path('adminReclamtion')}}" class="nav-link">
              <i class="fas fa-envelope-open-text"></i>
              <p>
                Reclamtion</p></a></li>

          <li class="nav-item">
            <a href="{{ path('produit_index') }}" class="nav-link">
              <i class="fas fa-gamepad"></i>
              <p>
                Produit
              </p>
            </a>
          </li>
             
          <li class="nav-item">   
            <a href="{{ path('sort') }}" class="nav-link">
              <i class="fas fa-gamepad"></i>
              <p>
           Table Sorted
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('categorie_index') }}" class="nav-link">
              <i class="fab fa-buromobelexperte"></i>
              <p>
                Catégorie</p></a></li>

          
          <li class="nav-item">
            <a href="{{path('adminAvis')}}" class="nav-link">
              <i class="fas fa-eye"></i>
              <p>
                Avis</p></a></li>
                 <li class="nav-item">
            <a href="{{ path('sortprix') }}" class="nav-link">
              <i class="fas fa-gamepad"></i>
              <p>
                Table Sorted by price
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ path('StatProduit') }}" class="nav-link">
              <i class="fas fa-fw fa-chart-area"></i>
              <p>
             Chart
              </p>
            </a>
          </li>
          
                 <li class="nav-item">
            <a href="{{ path('cle_index') }}" class="nav-link">
              <i class="fas fa-gamepad"></i>
              <p>
                cle
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link">
              <i class="fas fa-calendar-week"></i>
              <p>
                Evenements
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('evenement_index') }}" class="nav-link">
                  <i class="fas fa-layer-group"></i>
                  <p>
                    Liste des evenements
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('evenement_new') }}" class="nav-link">
                  <i class="fas fa-plus"></i>
                  <p>
                    Ajouter un evenement
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('listerPAdmin') }}" class="nav-link">
                  <i class="fas fa-users"></i>
                  <p>
                    Participants
                  </p>
                </a>
              </li>


         

            </ul>
          </li>
               <li class="nav-item">
                <a href="{{path('app_logout')}}" class="nav-link" onclick="return confirm('Êtes-vous sûr?')">
                  <i class="fas fa-sign-out-alt"></i>
                  <p>
                    Logout
                  </p>
                </a>
              </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
