
{% extends 'base_admin.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                       <!-- <div class="card-header bg-primary text-white">
                            <h3 class="card-title">Liste Produits</h3>
                        </div>-->
                        <table>
                            <td><h1 style="color:royalblue;">Listes des Catégories</h1></td>
                           <td>
                               <a href="{{ path('categorie_index') }}"><i class="fas fa-sync"></i></a>
                            </td>
                        </table>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dt-buttons btn-group flex-wrap">
                                            <!--<a href="{{ path('categorie_new') }}"><button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button"><span>create</span></button></a>-->
                                            <table>
                                                <td><a href="{{ path('categorie_new') }}"><button type="button" class="btn btn-outline-success btn-block"><i class="fas fa-plus"></i>Ajouter</button></a></td>
                                                <td>
                                                    <a href="{{ path('name_orderedcat') }}"> <button type="button" style="height:40px;width:180px" class="btn btn-block bg-gradient-warning"><i class="fas fa-sort-alpha-down"></i> Order by Nom </button></a>
                                                </td>
                                            </table>
                                                </div></div><div class="col-sm-12 col-md-6"><div id="example1_filter" class="dataTables_filter">
                                            <label style="color:royalblue;">Rechercher:
                                                <div class="input-group input-group-lg">
                                                <input type="search" class="form-control form-control-sm" placeholder="Nom catégorie" aria-controls="example1" id="myInput" onkeyup="myFunction()">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-lg btn-default">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                                </div>
                                            </label>


                                        </div></div></div><div class="row"><div class="col-sm-12"><table id="affichage_categorie" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                            <thead>
                                            <tr role="row">
                                                <th><h5 style="color:royalblue;">Id</h5></th>
                                                <th><h5 style="color:royalblue;">Nom catégorie</h5></th>
                                                <th><h5 style="color:royalblue;">actions</h5></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for categorie in categories %}
                                                <tr>
                                                    <td><h5 style="color:royalblue;">{{ categorie.idcat }}</h5></td>
                                                    <td>{{ categorie.nomcategorie }}</td>
                                                    <td>

                                                        <a href="{{ path('categorie_show', {'idcat': categorie.idcat}) }}"> <button type="button"  class="btn btn-block btn-outline-info" > Afficher</button></a>
                                                        <form method="post" action="{{ path('categorie_delete', {'idcat': categorie.idcat}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.idcat) }}">
                                                            <button class="btn btn-block btn-outline-danger" >Supprimer  </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="3">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination">{{ knp_pagination_render(categories) }}</ul></div></div></div></div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                </div></div></div></section>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("affichage_categorie");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
<!-- <a href="{{ path('categorie_new') }}">Create new</a> -->
{% endblock %}


