{% extends 'base_coach.html.twig' %}

{% block title %}Participantcours index{% endblock %}

{% block body %}
    <h1>Participants cours </h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom </th>
                <th>Prenom </th>
                <th>Sexe </th>
                <th>Cours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participantcour in participantcours %}
            <tr>

                <td>{{ participantcour.membre.nom }}</td>
                <td>{{ participantcour.membre.prenom }}</td>
                <td>{{ participantcour.membre.genre }}</td>
                <td>{{ participantcour.cour.nomcours }}</td>

                <td>
                    <a href="{{ path('participantcours_show', {'id': participantcour.id}) }}">show</a>
                  <!--  <a href="{{ path('participantcours_edit', {'id': participantcour.id}) }}">edit</a> -->
                </td>
            </tr>
        {% else %}

            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('cour_index_admin') }}">back to list</a>

{% endblock %}
