{% extends 'base_clientSide.html.twig' %}


{% block stylesheets %}


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">


    <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{asset('assets/vendor/magnific-popup/dist/magnific-popup.css')}}"/>

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="{{asset('assets/vendor/slider-revolution/css/settings.css')}}">
    <link rel="stylesheet" href="{{asset('assets/vendor/slider-revolution/css/layers.css')}}">
    <link rel="stylesheet" href="{{asset('assets/vendor/slider-revolution/css/navigation.css')}}">

    <!-- Bootstrap Sweetalert -->
    <link rel="stylesheet" href="{{asset('assets/vendor/bootstrap-sweetalert/dist/sweetalert.css')}}"/>

    <!-- Social Likes -->
    <link rel="stylesheet" href="{{asset('assets/vendor/social-likes/dist/social-likes_flat.css')}}" />

    <!-- FontAwesome -->
    <script defer src="{{asset('assets/vendor/font-awesome/svg-with-js/js/fontawesome-all.min.js')}}"></script>
    <script defer src="{{asset('assets/vendor/font-awesome/svg-with-js/js/fa-v4-shims.min.js')}}"></script>

    <!-- Youplay -->
    <link rel="stylesheet" href="{{asset('assets/css/youplay.css')}}">

    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" href="assets/css/youplay-rtl.min.css" /> -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{asset('assets/css/custom.css')}}">

    <!-- END: Styles -->
{% endblock %}

{% block body %}

<!-- Preloader -->
<div class="page-preloader preloader-wrapp">

    <img src="{{asset('/images/logo.png')}}" alt="">

    <div class="preloader"></div>
</div>
<!-- /Preloader -->
<div class="content-wrap">

    <section class="youplay-banner banner-top youplay-banner-parallax small">

        <div class="image" data-speed="0.4">
            <img src="{{asset('images/banner-bg.jpg')}}" alt="" class="jarallax-img">
        </div>


        <div class="info">
            <div>
                <div class="container">
                    <h1 class="h1">Evenements</h1>
                    <ul class="pager">
                        <li class="previous"><a href="{{ path('listerE')}}"><span aria-hidden="true">&larr;</span> Retour</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- /Banner -->

    <div class="container youplay-news">
            <li ><div id="calendar-holder"></div></li>
        


    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
{% endblock %}