{% extends 'base_admin.html.twig' %}

{% block title %}Evenement index{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
 {% endblock %}

{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" >
                            <h3 class="card-title">Participants</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>NomMember</th>
                                    <th>PrenomMember</th>
                                    <th>Round</th>
                                    <th>Nomevent</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for parti in participant %}
                                    <tr>
                                        <td><img src="{{ asset('/images/membre/' ~ parti.member.image) }}" width="40px" height="40px"></td>
                                        <td>{{ parti.member.nom }}</td>
                                        <td>{{ parti.member.prenom }}</td>
                                        <td>
                                            <table>
                                                <tr>
                                                    {% if parti.duel != null %}
                                                    <td>
                                                        <a href="{{ path('updateRound',{'id':parti.id}) }}" class="bnt btn-primary btn-sm js-plus">
                                                            <span id="js-round">{{ parti.round}}</span>
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                        <td>
                                                            {{ parti.duel }}

                                                        </td>

                                                    {% endif %}
                                                </tr>
                                            </table>
                                        </td>
                                        <td>{{ parti.evenement.nomevent }}</td>


                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="10">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>NomMember</th>
                                    <th>PrenomMember</th>
                                    <th>Round</th>
                                    <th>Nomevent</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="example1_previous">
                                                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                            </li>
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                            </li>
                                            <li class="paginate_button page-item ">
                                                <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                            </li>
                                            <li class="paginate_button page-item next" id="example1_next">
                                                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
    <script src="{{asset('assets/plugins/jszip/jszip.min.js')}}"></script>
    <script src="{{asset('assets/plugins/pdfmake/pdfmake.min.js')}}"></script>
    <script src="{{asset('assets/plugins/pdfmake/vfs_fonts.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

    <script src="{{asset('assets/dist/js/adminlte.min.js')}}"></script>

    <script src="{{asset('assets/dist/js/demo.js')}}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //window.FontAwesomeConfig = { autoReplaceSvg: false }
        setTimeout(() => {
            function onClickBtnPlus(event){
                event.preventDefault();

                const url=this.href;
console.log("aaa")
                //const spanCount=document.querySelector('span.js-likes');
                const spanCount=this.querySelector('#js-round');

                axios.get(url).then(function (response) {
                    spanCount.textContent=response.data.rounds;


                }).catch(function (error) {
                    if(error.response.status===403){
                        window.alert("Vous ne pouvez pas disliker un article si vous n'êtes pas connecté!")
                    }else {
                        window.alert("Une erreur s'est produite, réessayer plus tard.")
                    }
                });
            }
            document.querySelectorAll('a.js-plus').forEach(function (link) {
                link.addEventListener('click', onClickBtnPlus);
            })

            console.log("bb")
        }, 1000);



    </script>
{% endblock %}